.main-dashboard{
    height: 100%;
    padding: 10px;
    width: calc(100% - 220px);
    background-color: #e9e9e9;
    overflow-x: auto;
}
.header-dashboard{
    width: 100%;
    background-color: #FFF;
    height: 180px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    display: flex;
    padding: 20px;

}
.left-header{
    width: 50%;
    height: 100%;
}
.left-header h1{
    font-family: 'Montserrat', sans-serif;
}
.left-header span{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
.upper-detail{
    height: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.upper-detail span{
    font-size: 12px;
}
.upper-detail > span > span{
    color: blue;
}
.upper-detail > span > img{
    height: 20px;
}
.upper-detail img{
    height: 20px;
}
.detail-wrapper{
    height: 60%;
    width: 300px;
}
.below-detail{
    margin-top: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.below-detail .line{
    width: 1px;
    height: 10px;
    background-color: rgb(68, 68, 68);
}
.below-detail .img-wrapper{
    height: 50px;
    width: 50px;
}
.below-detail .img-wrapper img{
    width: 100%;
}
.right-header{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}
.right-header .img-wrapper{
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.right-header .img-wrapper img{
    height: 100%;

}
.analytic-body{
    width: 100%;
    background-color: #FFF;
    height: 440px;
    margin: 15px auto 0px auto;
    border: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.left-data{
    height: 350px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 10px;
}
.left-data .deck-wrapper{
    margin-top: 15px;
    padding: 10px;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgb(2, 25, 53) 0%, rgba(26,87,143,1) 35%, rgb(25, 101, 189) 100%);
    border-radius: 4px;
    position: relative;
}
.deck-wrapper .elixir{
    height: 50px;
    width: 50px;
    bottom: -10px;
    right: -10px;
    border-radius: 50%;
    position: absolute;
}
.deck-wrapper .elixir img{
    height: 100%;
}
.deck-wrapper .elixir p{
    position: absolute;
    top: 12px;
    left: 10px;
    font-weight: bolder;
    color: #FFF;
    font-family: 'cr', Arial, Helvetica, sans-serif;
}
.left-data h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
}
.left-data .row-card{
    height: 120px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.left-data .card{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.left-data .card img{
    position: absolute;
    top: -17px;
    width: 100%;
}
.left-data p{
    margin-top: 4px;
    padding-left: 5px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 2px;
}

.left-data p span{
    font-weight: bolder;
    color: rgb(238, 40, 238);
}
.left-data p > img{
    height: 17px;
}
.left-data-detail{
    width: 100%;
    height: 70px;
    display: flex;
    gap: 10px;
}
.left-data-detail .img-wrapper{
    height: 100%;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-data-detail .text-wrapper{
    display: flex;
    align-items: center;
    margin-left: -20px;
}
.left-data-detail .text-wrapper span{
    text-transform: uppercase;
}
.left-data-detail .img-wrapper img{
    height: 100%;
}
.line-data{
    width: 1px;
    height: 365px;
    background-color: rgba(0, 0, 0, 0.253);
    margin: 10px 30px 0 30px;
}
.right-data{
    height: 300px;
    flex: 1;
    margin-top: 10px;
}
.right-data h2{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
}
.right-body{
    width: 100%;
    height: 270px;

    display: flex;
}
.inner-body{
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
}
.left-inner-body{
    width: 50%;
    height: 100%;
}
.right-inner-body{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #0b4cff4b;

}
.right-inner-body div{
    height: 200px;
    margin-top: -10px;
    width: 200px;
}
table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.267);
}

th{
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #1964BA;
    color: #FFF;
}
th, td {
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.bottom-body{
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}
.bottom-body .bar-chart-wrapper{
    width: 50%;
    height: 100%;
    padding: 10px 0 0 10px;
}
.bottom-body .bar-chart-wrapper .graph{
    height: 100%;
}
.bottom-body .txt-wrapper{
    width: 50%;
    height: 100%;
}
.line-left{
    height: 1px;
    width: 90%;
    background-color: rgba(10, 10, 10, 0.219);
    margin: 20px auto 0 auto;
}