::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #1a568f42;
}
.main-dashboard{
    height: 100%;
    width: calc(100% - 220px);
    background-color: #e9e9e9;
    overflow-x: auto;
    position: relative;
}

.inner-main{
    width: 100%;
    display: flex;
}
.feed-header{
    height: 70px;
    width: calc(100% - 220px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.137);
    position: fixed;
    z-index: 3;
    display: flex;
}
.left-header{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feed-wrapper{
    overflow-y: auto;
    max-height: 100vh;
    padding: 75px 15px 15px 15px;
    width: 35%;
}
.search-wrapper{
    height: 35px;
    width: 95%;
    background-color: rgb(226, 226, 226);
    display: flex;
    border: 4px;
}
.search-wrapper > button{
    padding-top: 3px;
    height: 35px;
    width: 35px;
    background-color: transparent;
    border: none;
}

.search-wrapper > input{
    border: none;
    background-color: transparent;
    flex: 1;
    height: 100%;
    padding-left: 10px;
}
.search-wrapper > input:focus{
    outline: none;
}
.post-creator{
    margin: 0 auto;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-color: #FFF;
    border-radius: 5px;
}
.post{
    margin-top: 10px;
    height: auto;
    width: 100%;
    background-color: white;
}
.user-info{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.profile-wrapper-post{
    height: 37px;
    width: 37px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
}
.profile-wrapper-post img{
    height: 100%;
}
.username-wrapper-post{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    font-family: 'Montserrat';
}
.username-wrapper-post span{
    font-size: 12px;
}
.feed-creator{
    width: 40%;
}
.post-header{
    width: 100%;
    height: 50px;
}
.post-body{
    height: auto;
    width: 100%;
}
.post-body .img-wrapper{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: gray;
}
.post-body .img-wrapper img{
    width:  100%;
}
.post-footer{
    height: 100px;
    width: 100%;
}
.post-footer .footer-line{
    height: 1px;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.418);
    width: 90%;
}
.upper-footer{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.bottom-footer{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.good-ava, .bad-ava{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.right-header{
    width: 65%;
    height: 100%;
}
.profile-feed{
    flex: 1;
    background-color: rgb(255, 255, 255);
    padding-top: 90px;
    overflow-y: auto;
}

.upper-profile-feed{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upper-profile-feed .img-wrapper{
    width: 100px;
    height: 100px;
    background-color: rgba(128, 128, 128, 0.404);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(58, 58, 58, 0.089);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper-profile-feed .img-wrapper img{
    width: 100%;
}
.upper-profile-feed .profile-wrapper{
    position: relative;
    height: 100px;
    width: auto;
}
.upper-profile-feed  .edit-img{
    height: 30px;
    width: 30px;
    background-color: #2b81f1;
    position: absolute;
    bottom: 0px;
    right: 0;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper-profile-feed  .edit-img img{
    height: 70%;
    width: 70%;
}
.bottom-profile-feed{
    height: 60px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.bottom-profile-feed h1{
    font-weight: bolder;
    font-size: 20px;
}
.bottom-profile-feed span{
    font-size: 12px;
}
.bottom-profile-info{
    display: flex;
    margin-top: 10px;
    gap: 20px;
    
}
.bottom-profile-info .line{
    width: 80%;
    height: 1px;
    background-color: gray;
}
.btn-edit{
    height: 17px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}
.followers, .following{
    width: 200px;
    height: 50px;
}
.middle-profile-feed{
    height: 220px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.middle-profile-feed span{
    font-size: 12px;
    font-family: 'Montserrat';

}
.posts{
    height: 340px;
    width: 100%;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 5px;
}
.posts .post-wrapper{
    height: 190px;
    width: 90px;
    background-color: blue;
    transition: 0.3s all;
    cursor: pointer;
    filter: brightness(0.7);
}
.post-wrapper:hover{
    transform: scale(1.1);
    filter: brightness(1);
}
.posts .post-wrapper img{
    height: 100%;
}
.btn-create{
    margin: 10px auto;
    display: block;
    cursor: pointer;
}
.btn-create .text-button{
    font-family: 'cr', Arial, Helvetica, sans-serif;
}
.btn-create:hover{
    background-color: rgb(31, 136, 31);
}
.action-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Edit */
.modal-edit {
    display: none; 
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
.modal-edit.active{
    display: flex;
}
.modal-edit-content {
    background-color: #fefefe;
    height: 530px;
    width: 450px;
    padding: 15px;
    border-radius: 5px;
}
.modal-edit-content h2{
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat';
}
#editProfileForm{
    width: 100%;
}
#editProfileForm label{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
#editProfileForm input{
    margin-bottom: 5px;
    height: 35px;
    padding-left: 5px;
    width: 100%;

}
#editProfileForm input:focus{
    outline: none;
}
#editProfileForm .img-edit-preview{
    height: 200px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#editProfileForm .img-edit-preview img{
    height: 100%;
}
#editProfileForm button{
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
.close-edit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-edit:hover,
.close-edit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Create */
.modal-create {
    display: none; 
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}
.modal-create.active{
    display: flex;
}
.modal-create-content {
    background-color: #fefefe;
    height: 470px;
    width: 450px;
    padding: 15px;
    border-radius: 5px;
}
.modal-create-content h2{
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Montserrat';
}
#createProfileForm{
    width: 100%;
}
#createProfileForm label{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
#createProfileForm input{
    margin-bottom: 5px;
    height: 35px;
    padding-left: 5px;
    width: 100%;

}
#createProfileForm input:focus{
    outline: none;
}
#createProfileForm .img-create-preview{
    height: 200px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#createProfileForm .img-create-preview img{
    height: 100%;
}
#createProfileForm button{
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}
.close-create {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-create:hover,
.close-create:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    flex-direction: column;
    align-items: center;
}
.modal-content {
    background-color: #fefefe;
    margin-top: 10px;
    height: auto;
    width: 300px;
    border: 1px solid #888;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.header-modal-erro{
    width: 100%;
    height: 80px;
    background-color: hwb(0 13% 6%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-modal-correto{
    width: 100%;
    height: 80px;
    background-color: #40be4b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-erros, .modal-corretos{
    padding: 10px;
}
.modal-erros p, .modal-corretos p{
    margin-bottom: 3px;
    font-size: 10px;
    font-family: 'cr', Arial, Helvetica, sans-serif;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}