@font-face {
    font-family: 'cr';
    src: url('../font/clash-royale/cr.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;

}
html{
    scroll-behavior: smooth;
}
/* button */
.ref-link{
    display: block;
    width: 130px;
}
.button-wrapper{
    width: 130px;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: gray;
    font-family: 'cr', Arial, Helvetica, sans-serif;
    transition: 0.2s all;
}
.inner-button{
    width: 100%;
    height: 90%;
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
}
.relevant-button{
    width: 96%;
    height: 90%;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    position: relative;
    text-align: center;
    transition: 0.2s all;
}
.top-relevant-button{
    width: 100%;
    height: 50%;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: end;
    overflow: hidden;
    transition: 0.2s all;
}
.shine-ball-button{
    height: 5px;
    width: 5px;
    background-color: #FFF;
    border-radius: 45%;
}
.text-button{
    position: absolute;

    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    color: #FFF;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,

        0px 2px 0px #000000;
    width: 130px;
}
.btn{
    cursor: pointer;
}
.btn:hover .button-wrapper{
    transform: scale(0.95);
}


/* amarelo */
.button-wrapper.yellow{
    background-color: #AF6B06;
}
.inner-button.yellow{
    box-shadow: inset 0 5px 5px -5px #FFBB2A;
    background-color: #FDA70C;
}
.relevant-button.yellow{
    background-color: #FFBB2A;
}
.top-relevant-button.yellow{
    background-color: #FFD053;
}

/* vermelho */
.button-wrapper.red{
    background-color: #9C1814;
}
.inner-button.red{
    box-shadow: inset 0 5px 5px -5px #FF6666;
    background-color: #FC3937;
}
.relevant-button.red{
    background-color: #FC4262;
}
.top-relevant-button.red{
    background-color: #FF6666;
}

/* verde */
.button-wrapper.green{
    background-color: #0D8F23;
}
.inner-button.green{
    box-shadow: inset 0 5px 5px -5px #50FF65;
    background-color: #09CC48;
}
.relevant-button.green{
    background-color: #30ED45;
}
.top-relevant-button.green{
    background-color: #50FF65;
}

/* azul */
.button-wrapper.blue{
    background-color: #004FA5;
}
.inner-button.blue{
    box-shadow: inset 0 5px 5px -5px #67BCFF;
    background-color: #2096FF;
}
.relevant-button.blue{
    background-color: #4CADFF;
}
.top-relevant-button.blue{
    background-color: #67BCFF;
}


.section-title{
        color: #FFF;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,

        0px 2px 0px #000000;
    font-family: 'cr', sans-serif;
    text-align: center;
    font-size: 17px;
    margin-top: 25px;
}