@import 'https://fonts.googleapis.com/css?family=Bungee';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}


/* button */
.button-wrapper{
    width: 130px;
    height: 50px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: gray;
    font-family: 'Bungee', Arial, Helvetica, sans-serif;
    transition: 0.2s all;
}
.inner-button{
    width: 100%;
    height: 90%;
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
}
.relevant-button{
    width: 96%;
    height: 90%;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    position: relative;
    text-align: center;
    transition: 0.2s all;
}
.top-relevant-button{
    width: 100%;
    height: 50%;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: end;
    overflow: hidden;
    transition: 0.2s all;
}
.shine-ball-button{
    height: 5px;
    width: 5px;
    background-color: #FFF;
    border-radius: 45%;
}
.text-button{
    position: absolute;
    color: #FFF;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    text-shadow: 
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,

        0px 2px 0px #000000;
}
.btn{
    cursor: pointer;
}
.btn:hover .button-wrapper{
    transform: scale(0.95);
}