<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlayPals | Home</title>
    <link rel="stylesheet" href="./css/global-style.css">
    <link rel="stylesheet" href="./css/index-style.css">
</head>
<body>
    <header class="header">
        <div class="inner-header">
            <h1>testing</h1>
        </div>
    </header>
</body>
</html>