<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Metrics | Home</title>
    <link rel="stylesheet" href="./css/global-style.css">
    <link rel="stylesheet" href="./css/index-style.css">
</head>
<body>
    <main class="main">
        <header class="header">
            <div class="inner-header">
                <div class="logo-wrapper">
                    <a href="/">
                        <img src="./assets/icon/full-logo.png" draggable="false">
                    </a>
                </div>
                <nav class="nav-bar">
                    <ul class="nav-list">
                        <li class="nav-items">
                            <a href="" class="nav-link">Home</a>
                        </li>
                        <li class="nav-items">
                            <a href="" class="nav-link">Sobre</a>
                        </li>
                        <li class="nav-items">
                            <a href="" class="nav-link">Métricas</a>
                        </li>
                        <li class="nav-items">
                            <a href="" class="nav-link">Supercell</a>
                        </li>
                        <li class="nav-items">
                            <a href="" class="nav-link">
                                <!-- button -->
                                <div class="button-wrapper">
                                    <div class="inner-button">
                                        <div class="relevant-button">
                                            <div class="top-relevant-button">
                                                <div class="shine-ball-button"></div>
                                            </div>
                                            <span class="text-button">Login</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </header>
    </main>
</body>
</html>