<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Metrics | Home</title>
    <link rel="stylesheet" href="./css/global-style.css">
    <link rel="stylesheet" href="./css/home-style.css">
    <link rel="stylesheet" href="./css/about-style.css">
    <link rel="stylesheet" href="./css/metrics-style.css">

    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Freeman&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="./js/toggle-bar-mobile.js" defer></script>
</head>
<body>
    <main class="main">
        <header class="header">
            <div class="inner-header">
                <div class="logo-wrapper">
                    <a href="/">
                        <img src="./assets/icon/full-logo.png" draggable="false">
                    </a>
                </div>
                <nav class="nav-bar">
                    <ul class="nav-list">
                        <li class="nav-items">
                            <a href="" class="nav-link">Home</a>
                        </li>
                        <li class="nav-items">
                            <a href="" class="nav-link">Sobre</a>
                        </li>
                        <li class="nav-items">
                            <a href="" class="nav-link">Métricas</a>
                        </li>
                        <li class="nav-items">
                          <!-- button -->
                            <a href="#" class="nav-link btn">
                                <div class="button-wrapper yellow">
                                    <div class="inner-button yellow">
                                        <div class="relevant-button yellow">
                                            <div class="top-relevant-button yellow">
                                                <div class="shine-ball-button"></div>
                                            </div>
                                            <span class="text-button">Login</span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </li>
                    </ul>
                </nav>
                <div class="close-button-mobile">
                    <a href="#" class="nav-link btn" id="btn-burger-mobile">
                        <div class="button-wrapper btn-burger yellow">
                            <div class="inner-button btn-burger yellow">
                                <div class="relevant-button btn-burger yellow">
                                    <div class="top-relevant-button btn-burger yellow">
                                        <div class="shine-ball-button"></div>
                                    </div>
                                    <span class="text-button" id="btn-burger-icon">
                                        <img width="30" height="30" src="https://img.icons8.com/external-febrian-hidayat-glyph-febrian-hidayat/64/FFFFFF/external-burger-bar-ui-essential-febrian-hidayat-glyph-febrian-hidayat.png" alt="external-burger-bar-ui-essential-febrian-hidayat-glyph-febrian-hidayat"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </header>
        <section class="home">
            <div class="inner-home">
                <span>Descubra</span>
                <h1><span>ESTRATÉGIAS</span> e domine o campo de batalha !</h1>
                <a href="#" class="ref-link btn">
                    <div class="button-wrapper red">
                        <div class="inner-button  red">
                            <div class="relevant-button red">
                                <div class="top-relevant-button btn-burger red">
                                    <div class="shine-ball-button"></div>
                                </div>
                                <span class="text-button saiba-mais">Saiba mais</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>
    <section class="about-container">

        <div class="inner-about">
            <div class="left">
                <div class="img-wrapper">
                    <img src="./assets/img/prince-wallpaper.jpg">
                </div>
                <div class="mini-img-wrapper">
                    <img src="./assets/img/rider-arena.jpg">
                </div>
            </div>
            <div class="right">
                <h2 class="section-title" style="text-align: start;">
                    Sobre
                </h2>
                <h1>Destrua seus inimigos!</h1>
                <span>Entre no universo Clash e acabe com o Rei Vermelho!</span>
                <p>
                    Clash Metrics irá te guiar à construir decks e dominar cada carta do Universo Clash,
                    desenvolva novas habilidades e conquiste novas arenas e desafios,
                    tenha uma análise da sua jogatina e construa novas estratégias!
                </p>
                <div class="icon-container">
                    <div class="inner-left">
                        <div class="icon-wrapper">
                            <img src="./assets/img/challenge-green.jpg">
                        </div>
                        <div class="text-wrapper">
                            <h2>Clássico</h2>
                            <p>Curte um estilo mais clássico?Aprenda como jogar de Hog 2.6!</p>
                        </div>
                    </div>
                    <div class="inner-right">
                        <div class="icon-wrapper">
                            <img src="./assets/img/challenge-golden.jpg">
                        </div>
                        <div class="text-wrapper">
                            <h2>Lendário</h2>
                            <p>Se arrisque e desenvolva um estilo único, que tal Morteiro com Goblins?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="metrics-container">
        <div class="inner-metrics">
            <h2 class="section-title">Métricas</h2>
            <img src="./assets/img/blue-king.png" class="img-left">

            <img src="./assets/img/red-king.png" class="img-right">
        </div>
    </div>
</body>
</html>