<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Metrics | Home</title>
    <link rel="stylesheet" href="./css/global-style.css">
    <link rel="stylesheet" href="./css/home-style.css">
    <link rel="stylesheet" href="./css/uppercard-style.css">
    <link rel="stylesheet" href="./css/about-style.css">
    <script src="./js/toggle-bar-mobile.js" defer></script>
</head>
<body>
    <main class="main">
        <header class="header">
            <div class="inner-header">
                <div class="logo-wrapper">
                    <a href="/">
                        <img src="./assets/icon/full-logo.png" draggable="false">
                    </a>
                </div>
                <nav class="nav-bar">
                    <ul class="nav-list">
                        <li class="nav-items">
                            <a href="" class="nav-link">Home</a>
                        </li>
                        <li class="nav-items">
                            <a href="" class="nav-link">Sobre</a>
                        </li>
                        <li class="nav-items">
                            <a href="" class="nav-link">Métricas</a>
                        </li>
                        <li class="nav-items">
                            <a href="" class="nav-link">Supercell</a>
                        </li>
                        <li class="nav-items">
                          <!-- button -->
                            <a href="#" class="nav-link btn">
                                <div class="button-wrapper yellow">
                                    <div class="inner-button yellow">
                                        <div class="relevant-button yellow">
                                            <div class="top-relevant-button yellow">
                                                <div class="shine-ball-button"></div>
                                            </div>
                                            <span class="text-button">Login</span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </li>
                    </ul>
                </nav>
                <div class="close-button-mobile">
                    <a href="#" class="nav-link btn" id="btn-burger-mobile">
                        <div class="button-wrapper btn-burger yellow">
                            <div class="inner-button btn-burger yellow">
                                <div class="relevant-button btn-burger yellow">
                                    <div class="top-relevant-button btn-burger yellow">
                                        <div class="shine-ball-button"></div>
                                    </div>
                                    <span class="text-button" id="btn-burger-icon">
                                        <img width="30" height="30" src="https://img.icons8.com/external-febrian-hidayat-glyph-febrian-hidayat/64/FFFFFF/external-burger-bar-ui-essential-febrian-hidayat-glyph-febrian-hidayat.png" alt="external-burger-bar-ui-essential-febrian-hidayat-glyph-febrian-hidayat"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </header>
        <section class="home">
            <div class="inner-home">
                <span>Descubra</span>
                <h1><span>ESTRATÉGIAS</span> e domine o campo de batalha !</h1>
                <a href="#" class="ref-link btn">
                    <div class="button-wrapper red">
                        <div class="inner-button  red">
                            <div class="relevant-button red">
                                <div class="top-relevant-button btn-burger red">
                                    <div class="shine-ball-button"></div>
                                </div>
                                <span class="text-button saiba-mais">Saiba mais</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>
</body>
</html>