<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Metrics | Página não encontrada</title>
    <link rel="shortcut icon" href="/assets/icon/logo-cut.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/notFound-style.css">
    <script src="/js/notFound.js" defer></script>
</head>
<body>
    <h1 class="error-title">Erro 404</h1>
    <p class="error-text">Essa página não foi encontrada ou o acesso é restrito. Fuja do castelo do Rei!</p>
    <button class="button-wrapper red btn" id="error-button">
        <div class="inner-button red">
            <div class="relevant-button red">
                <div class="top-relevant-button red">
                    <div class="shine-ball-button"></div>
                </div>
                <span class="text-button">Sair</span>
            </div>
        </div>
    </button>
    <img class="img-cage" src="/assets/img/notFound.png">
</body>
</html>