<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clash Metrics | Login</title>
    <link rel="stylesheet" href="./css/global-style.css">
    <link rel="stylesheet" href="./css/register-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Freeman&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poetsen+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="./js/toggle-bar-mobile.js" defer></script>
    <script src="./js/smooth-scroll.js" defer></script>
</head>
<body>
    <main class="main" id="home">
        <header class="header">
            <div class="inner-header">
                <div class="logo-wrapper">
                    <a href="/">
                        <img src="./assets/icon/full-logo.png" draggable="false">
                    </a>
                </div>
                <nav class="nav-bar">
                    <ul class="nav-list">
                        <li class="nav-items">
                            <a href="/#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-items">
                            <a href="/#about" class="nav-link">Sobre</a>
                        </li>
                        <li class="nav-items">
                            <a href="/#metrics" class="nav-link">Métricas</a>
                        </li>
                        <li class="nav-items">
                            <a href="/#foundation" class="nav-link">Fundação</a>
                        </li>
                        <li class="nav-items">
                          <!-- button -->
                            <a href="/login" class="nav-link btn">
                                <div class="button-wrapper yellow">
                                    <div class="inner-button yellow">
                                        <div class="relevant-button yellow">
                                            <div class="top-relevant-button yellow">
                                                <div class="shine-ball-button"></div>
                                            </div>
                                            <span class="text-button">Login</span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </li>
                    </ul>
                </nav>
                <div class="close-button-mobile">
                    <a href="#" class="nav-link btn" id="btn-burger-mobile">
                        <div class="button-wrapper btn-burger yellow">
                            <div class="inner-button btn-burger yellow">
                                <div class="relevant-button btn-burger yellow">
                                    <div class="top-relevant-button btn-burger yellow">
                                        <div class="shine-ball-button"></div>
                                    </div>
                                    <span class="text-button" id="btn-burger-icon">
                                        <img width="30" height="30" src="https://img.icons8.com/external-febrian-hidayat-glyph-febrian-hidayat/64/FFFFFF/external-burger-bar-ui-essential-febrian-hidayat-glyph-febrian-hidayat.png" alt="external-burger-bar-ui-essential-febrian-hidayat-glyph-febrian-hidayat"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </header>
        <section class="home">
            <div class="inner-home">
                <div class="card-login">
                    <h1>Registrar</h1>
                    <form action="/login" method="POST" id="form_login">
                        <div class="row">
                            <div class="col">
                                <label>Usuário:</label>
                                <input name="usuario" type="text" id="usuario_input">
                            </div>
                            <div class="col">
                                <label>Email:</label>
                                <input name="email" type="email" id="email_input">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Senha:</label>
                                <input name="senha" type="password" id="senha_input">
                            </div>
                            <div class="col">
                                <label>Gamertag:</label>
                                <input name="gamertag" type="text" id="gamertag_input">
                            </div>
                        </div>
                        <div class="row">
                            <a href="/login" class="btn">
                                <button class="button-wrapper yellow">
                                    <div class="inner-button yellow">
                                        <div class="relevant-button yellow">
                                            <div class="top-relevant-button yellow">
                                                <div class="shine-ball-button"></div>
                                            </div>
                                            <span class="text-button">Cadastrar</span>
                                        </div>
                                    </div>
                                </button>
                            </a>
                        </div>
                        <p>Já possui uma conta? <a href="/login"> Entre aqui!</a></p>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
</html>